#main{
    width: 1000px;
    min-height: 800px;
    float:left;
}
.header{
    width: 100%;
    min-height: 175px;
    background-color: #FCD800;
    float: left;
    margin-bottom: 20px;

}
.nav{
    width: 200px;
    min-height:605px;
    background-color:#FCD800;
    float: left;
    margin-right: 20px;
}
#center{
    width: 780px;
    min-height:605px;
    float: left;
}
.up{
    width:100%;
    min-height:435px;
    float: left;
}
.down{
    width: 100%;
    min-height: 150px;
    background-color: #FCD800;
    float: left;
    margin-top: 20px;
}
.article{
    width: 600px;
    min-height:435px;
    background-color: #FCD800;
    float: left;
    margin-right: 20px;

}
.ads{
    width: 160px;
    min-height: 435px;
background-color: #FCD800;
float: left;

}